<h3>Walk-in or New Volunteer</h3>
<div class="row">
  <div class="small-11 medium-centered columns">
    <% @volunteer = Volunteer.new %>
    <%= form_for @volunteer, :html => {"data-abide" => ''}, url: volunteers_sfcreate_path do |f| %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :name_first, placeholder: 'First Name' %>
      </div>
      <div class="small-6 columns">
        <%= f.text_field :name_last, placeholder: 'Last Name', required: "" %>
        <%= content_tag(:small, "Last Name is required", class: "error") %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <%= f.email_field :email, placeholder: 'Email', required: "" %>
        <%= content_tag(:small, "A valid email is required", class: "error") %>
      </div>
      <div class="small-3 columns">
        <%= text_field_tag :shift_type, "", placeholder: 'Shift'%>
      </div>
      <div class="small-3 columns">
        <%= f.submit "Submit", :class => 'button radius small expand' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
