<h1>Volunteers#testaction</h1>
<p>Find me in app/views/volunteers/testaction.html.erb</p>

<%= simple_form_for :walkin, { url: walkin_path } do |f| %>
    <%= f.input :name_first %>
    <%= f.input :name_last %>
    <%= f.input :email %>
    <%= f.button :submit, "Add to database" %>
<% end %>
