<%= form_for(@user) do |f| %>
<div class="small-6 small-centered columns">
  <div class="field">
    <%= f.label :name_first %>
    <%= f.text_field :name_first %>
  </div>

  <div class="field">
    <%= f.label :name_last %>
    <%= f.text_field :name_last %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= button_tag "Add Volunteer Shift", :class => "form-button-lg" %>
  </div>
<% end %>
