<% if logged_in? %>
  <h1>SEEDS Clipboard</h1>
  <h4>Logged in as <%= current_user.name %></h4>
  <%= link_to '(Log out)', sessions_destroy_path, :method => :delete %>
    <%= render 'shifts/index'%>
    <%= render 'volunteers/new'%>

<% else %>
  <a href="/auth/salesforcesandbox" class="button"><%= 'Log in via Salesforce' %></a>
<% end %>
