
<% if logged_in? %>
  <div class="row">
    <div class="small-12 medium-centered columns logohead">
      <div class="centered">
      <%= image_tag("seedslogo.jpg", class: "logoimg") %>
      <h1 class="title">Clipboard</h1>
        </div>
        <p class="centered logohead">Logged into Salesforce as <%= current_user.name %>&nbsp&nbsp
          <%= link_to '(Log out)', sessions_destroy_path, :method => :delete, :class => "logoutlink" %></p>
      <div class="row">
        <div class="small-11 medium-centered columns">
          <h3>Today's Volunteers</h3>
          <div class="row">
            <div class="small-11 medium-centered columns">
              <p><%= Date.today.strftime('%A, %B %-d, %Y') %></p>
              <div id="shift_index"><p>Syncing with Salesforce...</p></div>
            </div>
          </div>
          <%= render 'volunteers/new', :locals => { :shift => @shift } %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

<% else %>
  <div class="row">
    <div class="small-10 small-centered columns">
      <br>
      <br>
      <div class="centered">
      <%= image_tag("seedslogo.jpg", class: "logoimg") %>
      <h1 class="title">Clipboard</h1>
      </div>
      <br>
      <br>
        <div class="centered">
          <a href="/auth/salesforcesandbox" class="button radius success"><%= 'Log in via Salesforce' %></a>
        </div>
    </div>
  </div>
<% end %>
