<% @all_shifts = Shift.all %>
<% @todays_shifts = [] %>
<% @all_shifts.each do |s| %>
  <% if s.date == Date.today.to_s %>
    <% unless s.status == "Canceled" || s.status == "No Show" %>
      <% @todays_shifts << s %>
    <% end %>
  <% end %>
<% end %>

<% @todays_shifts_sorted = @todays_shifts.sort_by do |s| %>
  <% Volunteer.find_by(sf_contact_id: s[:sf_contact_id]).name_last %>
<% end %>

<% unless @todays_shifts_sorted.empty? %>
  <% @todays_shifts_sorted.each do |s| %>

    <div class="shift-row">
      <div class="row">
        <div class="small-4 medium-2 columns">
          <% if s.status == "Confirmed" %>
            <%= button_to('Here!',
                          options = { :action => 'unconfirm',
                                      :controller => 'shifts',
                                      :params => { :sf_volunteer_shift_id => s.sf_volunteer_shift_id}},
                          :class => 'button round small expand secondary unconfirm')%>
          <% else %>
            <%= button_to('Here?',
                          options = { :action => 'confirm',
                                      :controller => 'shifts',
                                      :params => { :sf_volunteer_shift_id => s.sf_volunteer_shift_id}},
                          :class => 'button round small expand success confirm')%>
          <% end %>
        </div>
        <div class="small-8 medium-9 columns end">
          <div class="volunteername id<%= s.volunteer.id %>">
            <div class="row">
              <div class="medium-6 large-4 columns">
                <% if s.status == "Confirmed" %>
                  <p class="checklist confirmed">
                <% else %>
                  <p class="checklist signup">
                <% end %>
                <%= s.volunteer.name_first %> <%= s.volunteer.name_last %>
                </p>
              </div>
              <div class="show-for-medium-up medium-6 columns end">
                <% if s.status == "Confirmed" %>
                  <p class="checklist confirmed">
                <% else %>
                  <p class="checklist signup">
                <% end %>
                <%= s.shift_type %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="volunteerinfo id<%= s.volunteer.id %>">
        <% if s.volunteer.emergency_contact_name != nil || s.volunteer.emergency_contact_phone != nil %>
          <div class="row">
            <div class="small-12 columns">
              <p>Emergency Contact:
                <% if s.volunteer.emergency_contact_name != nil %>
                  <%= s.volunteer.emergency_contact_name %>
                <% end %>
                <% if s.volunteer.emergency_contact_name != nil && s.volunteer.emergency_contact_phone != nil %>
                  at
                <% end %>
                <% if s.volunteer.emergency_contact_phone != nil %>
                  <%= s.volunteer.emergency_contact_phone %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <% if s.volunteer.notes != nil %>
          <div class="row">
            <div class="small-12 columns">
              <p>Notes: <%= s.volunteer.notes %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No volunteers signed up for today</p>
<% end %>
