<% @all_shifts = Shift.all %>
<% @todays_shifts = [] %>
<% @all_shifts.each do |s| %>
  <% if s.date == Date.today.to_s %>
    <% @todays_shifts << s %>
  <% end %>
<% end %>

<% @todays_shifts_sorted = @todays_shifts.sort_by do |s| %>
  <% Volunteer.find_by(sf_contact_id: s[:sf_contact_id]).name_last %>
<% end %>

<% unless @todays_shifts_sorted.empty? %>
  <% @todays_shifts_sorted.each do |s| %>
    <% if s.status == "Sign Up" %>
      <div class="row">
        <div class="small-4 medium-2 columns">
          <%= button_to('Here?',
                        options = { :action => 'confirm',
                                    :controller => 'shifts',
                                    :params => { :sf_volunteer_shift_id => s.sf_volunteer_shift_id}},
                        :class => 'button round small expand success')%>
        </div>
        <div class="small-8 medium-9 columns end">
          <div class="row">
            <div class="medium-6 large-4 columns">
              <p class="checklist signup"><%= s.volunteer.name_first %> <%= s.volunteer.name_last %></p>
            </div>
            <div class="medium-6 columns end">
              <p class="checklist signup"><%= s.shift_type %></p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
    <% if s.status == "Confirmed" %>
      <div class="row">
        <div class="small-4 medium-2 columns">
          <%= button_to('Here!',
                        options = { :action => 'unconfirm',
                                    :controller => 'shifts',
                                    :params => { :sf_volunteer_shift_id => s.sf_volunteer_shift_id}},
                        :class => 'button round small expand secondary')%>
        </div>
        <div class="small-8 medium-9 columns end">
          <div class="row">
        <div class="medium-6 large-4 columns">
          <p class="checklist confirmed"><%= s.volunteer.name_first %> <%= s.volunteer.name_last %></p>
        </div>
        <div class="medium-6 columns end">
          <p class="checklist confirmed"><%= s.shift_type %></p>
        </div>
      </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No volunteers signed up for today</p>
<% end %>
